/* .side{
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index:200;
}

.side ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side li{
  margin:0.5rem 0;
}

.side a{
    color:purple;
    text-decoration: none;
    font-size: 1.2rem;
}

.side a:hover,
.side a:active{
    color:orange;
} */
@import '~antd/dist/antd.css';
html,
body {
  margin: 0;
}

.LogoutBtn{
     position: fixed;
      width: 100px;
    
    left: 1500px;
    bottom:850px;
    /* border-radius: 2px;    */
  
    
}
li{
    cursor: pointer;
    text-indent: 3em;
}

.HelloUser{
    position: relative;
    /* width: 36px; */
    height: 30px;
   
 
    color:black;
    font-size: 25px ;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 3px;
}
.site-card3 {
    
    padding: 30px;
  }
    [data-theme="dark"] .site-card-wrapper {
      background: #303030;
    }
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #3a7eac;
  top:36px;
  left:15px
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill:lightblue;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: lightblue;
}
/* .header{
    background:lightblue;
    padding-block: 10px;
    block-size: 40px;
} */

.double-nav .breadcrumb-dn {
    color:lightblue;
  }